# Залежності (найважливіше)
node_modules/
dist/
build/
.cache/

# Локальні змінні та секрети
.env
.env.local
.env.*.local

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Системні файли
.DS_Store
Thumbs.db

# Конфігурації IDE (Cursor/VS Code)
.vscode/
.idea/